//Big Button

.big-button {
  background: $selected-pink;
  border: none;
  border-bottom: 0.6rem solid darken($selected-pink, 10%);
  color: white;
  font-weight: bolder;
  font-size: $l-size;
  width: 100%;
  margin-bottom: $m-size;
  padding: $m-size * 1.5;
}

.big-button:disabled {
  opacity: 0.5;
}

//Small Button
.button {
  background: $selected-pink;
  border: none;
  border-bottom: 0.3rem solid darken($selected-pink, 10%);
  color: white;
  font-weight: 500;
  padding: $s-size;
}

.button--link {
  background: none;
  border: none;
  color: $selected-pink;
  padding: 0;
  font-weight: 600;
}

@media (min-width: $desktop-breakpoint) {
  .big-button {
    margin-bottom: $xl-size;
  }
}
