.header {
  background: $black;
  color: white;
  margin-bottom: $m-size;
  padding: 1.6rem 0;
  text-align: center;
}

.header__title {
  font-size: $l-size * 1.125;
  margin: 0;
  color: $selected-pink;
}

.header__subtitle {
  font-size: $m-size;
  font-weight: 500;
}

@media (min-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $xl-size;
  }
}
